<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalles del Pedido</title>
</head>
<body>

  <h1>Presupuesto - <%=diaFactura %> </h1> 

  <br>

  <table>
    <thead>
      <tr>
        <th>Cantidad</th>
        <th>Detalle</th>
        <th>Precio unitario</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% productosSeleccionados.forEach(producto => { %>
        <tr>
          <td><%= producto.cantidad %></td>
          <td><%= producto.nombre %></td>
          <td> $ <%= producto.precio %></td>
          <td>$ <%= producto.precioTotal %></td>
        </tr>
      <% }) %>
      <tr class="total">
        <td colspan="3">Total</td>
        <td>$ <%= totalCarrito.toFixed(2) %> </td>
      </tr>
    </tbody>
  </table>
  

<button>
  <a href="/">Volver</a>
</button> 

</body>

<style>
  body {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 10px 80px;
    flex-direction: column;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }

  .total {
    font-weight: bold;
  }

  button {
      background-color: #5caafc;
      color: #fff;
      border: none;
      padding: 10px 15px;
      font-size: 1em;
      cursor: pointer;
      border-radius: 4px;
      transition: background-color 0.3s;
      text-decoration: none;
      
    }

    button a {
      color: aliceblue;
      text-decoration: none;
    }


  
</style>

</html>
